.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target/

# Eclipse Core
.project

# Java annotation processor (APT)
.factorypath

# JDT-specific (Eclipse Java Development Tools)
.classpath